* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

*, *::after *::before {
    box-sizing: border-box;
}

/* section one */

.navigation, .hero, #nav-links, .hero-cat, .hero-right {
    display: flex;
}

.section-one {
    background-color: #9b5151;
    padding: 20px 20%;
}

li, a {
    text-decoration: none;
}

li, a, .hero-description {
    color: #ececec;
    font-size: 16px;
}

.navigation {
    align-items: center;
}

#nav-links {
    list-style-type: none;
    gap: 40px;
}

.nav-right {
    margin-left: auto;
}

h2 {
    color: white;
    font-size: 38px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-cat {
    max-height: calc(350px + 1rem);
    flex: 1;
    border-radius: 40px;
    object-fit: cover;
    box-shadow: #00000049 3px 3px;
}

.hero {
    justify-content: space-between;
    align-items: center;
    margin: 6% 0;
    gap: 5%;
}

.hero-left, .hero-right {
    flex: 1 1 0;
}

.hero-right {
    justify-content: center;
}

#hero-header {
    color: white;
    font-size: 60px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

span {
    background-color: #ffd90049;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-description {
    margin: 30px 0;
}

button {
    background-color: #793131;
    border: none;
    padding: 12px 40px;
    color: #ececec;
    font-size: 17px;
    font-weight: 600;
    border-radius: 15px;
    
}

/* section two */

.section-two {
    padding: 5% 25%;
}

.s2-header {
    color: #793131;
    text-align: center;
    margin-bottom: 7%;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8%;
}

.card-one, .card-two, .card-three, .card-four {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    gap: 20px;
}

.cat-card {
    display: flex;
    max-height: 200px;
    min-width: 200px;
    flex: 1;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: #00000059 2px 2px;
}

.card-author {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}

q {
    text-align: center;
    font-style: italic;
}

/* section three */

.section-three {
    padding: 10% 20%;
    background-color: #353535;
    color: #ececec;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quote, .quote-author {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.quote {
    font-size: 45px;
    font-style: italic;
}

.quote-author {
    font-size: 30px;
    font-weight: 600;
    align-self: flex-end;
}

/* section four */

.section-four {
    display: flex;
    margin: 5% 25%;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    background-color: #1f1f1f;
    gap: 20px;
    border-radius: 25px;
    color: #ececec;
}

.sub-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    font-weight: 600;
}

.s4-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 500px;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #9b5151;
    color: #ececec;
}